In [6]:
import pandas as pd

# Read input CSV file
#input_file = 'input.csv'
#output_file = 'output.csv'
data = pd.read_csv('C:\Downloads\input2.csv')

# Sort data by employee code and dates
data['Date of Joining'] = pd.to_datetime(data['Date of Joining'])
data['Date of Exit'] = pd.to_datetime(data['Date of Exit'])
data.sort_values(by=['Employee Code', 'Date of Joining'], inplace=True)

# Initialize transformed data
transformed_data = []

# Iterate through each row of the sorted data
for index, row in data.iterrows():
    # Derive Effective Date and End Date
    if not pd.isna(row['Date of Exit']):
        effective_date = row['Date of Joining']
        end_date = row['Date of Exit'] - pd.Timedelta(days=1)
    else:
        effective_date = row['Date of Joining']
        end_date = pd.Timestamp('2100-01-01')  # Assign far-future date for current record
    
    # Handle missing data by inheriting values from the most recent past record
    if index > 0 and row['Employee Code'] == data.loc[index - 1, 'Employee Code']:
        previous_row = transformed_data[-1]
        row['Last Compensation'] = previous_row['Compensation']
        row['Last Pay Raise Date'] = previous_row['Compensation Date']
        row['Performance Rating'] = previous_row['Performance Rating']
        row['Engagement Score'] = previous_row['Engagement Score']

    # Add transformed record to the output
    transformed_data.append({
        'Employee Code': row['Employee Code'],
        'Manager Employee Code': row['Manager Employee Code'],
        'Last Compensation': row['Compensation'],
        'Compensation': row['Compensation'],
        'Last Pay Raise Date': row['Compensation 2 date'],
        'Variable Pay': None,  # Assuming this field is not provided in the input data
        'Tenure in Org': None,  # Assuming this field is not provided in the input data
        'Performance Rating': row['Review 2'],
        'Engagement Score': row['Engagement 2'],
        'Effective Date': effective_date,
        'End Date': end_date
    })

# Write transformed data to output CSV file
output_df = pd.DataFrame(transformed_data)
output_df.to_csv(output_file, index=False)

In [7]:
output_df

,Employee Code,Manager Employee Code,Last Compensation,Compensation,Last Pay Raise Date,Variable Pay,Tenure in Org,Performance Rating,Engagement Score,Effective Date,End Date
0,1,NaN,20000,20000,NaN,None,None,NaN,NaN,2021-01-01,2100-01-01
1,2,1.0,20000,20000,2023-01-01,None,None,9.5,5.0,2021-01-01,2100-01-01
2,3,1.0,20000,20000,2023-01-01,None,None,9.5,5.0,2021-01-01,2023-12-30